body {
  background-color: rgb(85, 191, 163);
  padding-left: 30%;
  padding-top: 2%;  
}

h1 {
  color: rgb(6, 6, 92);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  font-style: bold;
  color: rgb(43, 5, 78);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table,
th,
td {
  border: 5px solid rgb(7, 37, 186);
  border-collapse: collapse;
  background-color: aqua;
}
